.card {
  padding: 100px;
}

@media (max-width: 600px) {
  .card
  {
      padding: 20px;
      width: 100%;
      margin: 0 auto;
  }
}
.text-right{
  text-align: end;
}
.cursor-pointer{
  cursor: pointer;
}
table {
  width: 100%;
}
