<div class="card container">
  <div>
    <h3 class="text-center"> Upload Youtube Link</h3>
    <form [formGroup]="youtubeLinkForm" (ngSubmit)=uploadYoutubeLink()>
      <div class="col-md-12 mt-5">
        <div class= "row">
          <div class="mb-3 col-md-4">
            <label for="youtubeTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="youtubeTitle" aria-describedby="InputYoutubeTexthelper" formControlName="title" placeholder="Please enter the Title">
          </div>
            <div class="mb-3 col-md-4">
              <label for="youtubelink" class="form-label">Enter Youtube Link</label>
              <input type="url" class="form-control" id="youtubelink" aria-describedby="InputYoutubeLinkhelper" formControlName="youtubeLink" pleaceholder="Please enter the Youtube Link">
            </div>
            <div class="mb-3 col-md-4">
              <label for="linkType" class="form-label">Enter link Type</label>
              <select formControlName="linkType" class="form-control" >
                <option value="">Select Link Type</option>
                <option *ngFor="let type of youtubeLinkTypes" [ngValue]="type.Id"> {{type.title}} </option>
              </select>
            </div>
        </div>
      </div>
        <p *ngIf='!isFormValid' class='text-danger'>Please enter the valid Title and Youtube url</p>
        <p>{{statusMessage}}</p>
        <button type="submit" class="btn btn-primary" [disabled]="!youtubeLinkForm.valid">{{buttonText}}</button>
   </form>
  </div>
  <br>
   <div>
    <table class="table table-striped">
      <thead>
      <tr>
          <!-- <th scope="col">ID</th>
          <th scope="col">Link Type</th> -->
          <th scope="col">Title</th>
          <th scope="col">User Name</th>
          <th scope="col">Posted Content</th>
          <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of allYoutubeLinks; index as i">
          <td>{{post.title}}</td>
          <td> <img [src]=post.profilePic class="mr-2" style="width: 20px">
              <span>{{ post.userName }}</span></td>
          <td>
              <b>Posted Date:</b> {{post.createdAt | date :'MMM d, y, h:mm:ss a'}}
              <br>
              <b>Link: </b><a [href]=post.youtubeLink alt="youtubeLink">{{post.youtubeLink}}</a>
          </td>
          <td>
              <button class="btn btn-success m-1" (click) = Edit(post)>Edit</button>
              <button class="btn btn-danger m-1" (click) = Delete(post)>Delete</button>
          </td>
      </tr>
      </tbody>
      </table>
   </div>
</div>
