.card {
    padding: 100px;
}

@media (max-width: 600px) {
    .card
    {
        padding: 20px;
        width: 100%;
        margin: 0 auto;
    }
}
.button {
  background-color: #13e937;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
  background-color: #e91414;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
