<div class="card container">
  <div>
    <h3 class="text-center"> LiveTv</h3>
    <form [formGroup]="livetvchannelForm" (ngSubmit)=uploadLivetvcannelLink()>
      <div class="col-md-12 mt-5">
        <div class= "row">
          <div class="mb-3 col-md-4">
            <label for="youtubeTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="youtubeTitle" aria-describedby="InputYoutubeTexthelper" formControlName="title" placeholder="Please enter the Title">
          </div>
            <div class="mb-3 col-md-4">
              <label for="youtubelink" class="form-label">Enter Youtube Link</label>
              <input type="url" class="form-control" id="youtubelink" aria-describedby="InputYoutubeLinkhelper" formControlName="youtubeLink" pleaceholder="Please enter the Youtube Link">
            </div>

        </div>
      </div>
        <p *ngIf='!isFormValid' class='text-danger'>Please enter the valid Title and Youtube url</p>
        <p>{{statusMessage}}</p>
        <button type="submit" class="btn btn-primary" [disabled]="!livetvchannelForm.valid">{{buttonText}}</button>
   </form>
  </div>
  <br>
  <div>
      <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Thumnail</th>
            <th scope="col">Link</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tv of livetvchannels; index as i" (click)="ChangeChannel(tv.livetvUrl)"
          [ngClass]="{'tr-active': tv.livetvUrl === livetvUrl}">
            <td>{{tv.livetvTitle}}</td>
            <td> <img [src]="tv.livetvThumbnail" class="mr-2" style="width: 60px">
            <td>
             <b>Link:</b> <a [href]=tv.livetvUrl alt="youtubeLink">{{tv.livetvUrl}}</a>
            </td>
            <td>
              <button class="btn btn-success m-1" (click) = Edit(tv)>Edit</button>
              <button type="buttom" (click)="deleteUser(tv)" class="btn btn-danger">Delete</button>

            </td>
        </tr>
        </tbody>
        </table>
     </div>
  <br><br><br>
  <div class="text-center">
      <iframe width="560" height="315" [src]="currenttv"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
