.card-container{
  border: white solid;
  padding: 100px;
}
@media (max-width: 600px) {
  .card
  {
      padding: 20px;
      width: 100%;
      margin: 0 auto;
  }
}
.text-right{
  text-align:end;
}
.cursor-pointer{
  cursor:pointer;
}
.tr-active{
  border-color: blue !important;
  border-width: 1.1px !important;
}
