<div class="card-container">
  <h3 class="text-center"> Event Details</h3>
<div>
  <form [formGroup]="PostForm" (ngSubmit)=SaveData()>
      <div class="mb-3">
          <label for="userName" class="form-label">User Name</label>
          <input type="text" class="form-control" id="userName" formControlName="userName"
          placeholder="User Name">
      </div>
  </form>
  <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">User Name</th>
        <th scope="col">Posted Content</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="let post of activeposts; as i">
        <!-- <td> <img [src]=post.profilePic class="mr-2" style="width: 20px">
            <span>{{ post.userName }}</span></td>
        <td>
            <b>Posted Date:</b> {{post.postTime | date :'MMM d, y, h:mm:ss a'}}
            <br>
            <b>Text: </b>{{post.text}}
        </td> -->
        <td>
            <button class="btn btn-success m-1" (click) = Edit(post)>Edit</button>
            <button class="btn btn-danger m-1" (click) = Delete(post)>Delete</button>
        </td>
    </tr>
    </tbody>
    </table>
 </div>
<div>
